h1 {
  color: blue;
  display: inline;
}
form {
  display: inline;
  line-height: 25px;
}
input {
  border-radius: 20px;
  border: 3px solid rgb(54, 53, 53);
}

p {
  font-weight: bold;
  font-style: italic;
  padding-bottom: 25px;
}
button {
  border-radius: 20px;
  border: 3px solid rgb(54, 53, 53);
}
.coder {
  font-size: 10px;
}

.updated {
  font-size: 12px;
}
.updinfo {
  font-size: 16px;
}
.second {
  padding-top: 25px;
}
.temp {
  padding: 12px;
  font-style: italic;
}
.degree {
  font-size: 20px;
  font-weight: bold;
}

#locationSearch {
  border-radius: 10px;
}
#clouds-cur {
  text-transform: capitalize;
}
#fahrenheit-link {
  text-decoration: none;
}

.temp .active {
  color: rgb(54, 53, 53);
  cursor: default;
  text-decoration: none;
}
.temp .active:hover {
  text-decoration: none;
}
