h1 {
  color: blue;
  display: inline;
  margin-right: 10px;
}
form {
  display: inline;
  line-height: 25px;
}
input {
  border-radius: 20px;
  border: 3px solid rgb(54, 53, 53);
}

p {
  font-weight: bold;
  font-style: italic;
  padding-bottom: 25px;
}
button {
  border-radius: 20px;
  border: 3px solid rgb(54, 53, 53);
}
body {
  background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
.weather-app-wrapper {
  padding: 25px;
  max-width: 55%;
  margin: 0 auto;
  background: linear-gradient(
    rgba(254, 222, 254, 0.675),
    rgba(255, 255, 255, 0.791) 90%
  );
  border: solid #ffb5b5;
  border-radius: 25px;
}
.weather-forecast {
  margin-bottom: 15px;
}
.coder {
  font-size: 10px;
  text-align: center;
}

.updated {
  font-size: 12px;
}
.updinfo {
  font-size: 16px;
}
.second {
  padding-top: 25px;
}
.temp {
  padding: 12px;
  font-style: italic;
}
.degree {
  font-size: 20px;
  font-weight: bold;
}
#dateInfo {
  margin-top: 10px;
}

#locationSearch {
  border-radius: 10px;
}
#clouds-cur {
  text-transform: capitalize;
}
#fahrenheit-link {
  text-decoration: none;
}

.temp .active {
  color: rgb(54, 53, 53);
  cursor: default;
  text-decoration: none;
}
.temp .active:hover {
  text-decoration: none;
}
.weather-forecast-temperature-min {
  color: rgb(150, 145, 145);
}
